.Message--fullscreen {
  position: fixed;
  display: flex;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: black;

  align-items: center;
  justify-content: center;

  z-index: 3;

  opacity: 1;
  transition: 0.3s;
}

.Message--fullscreen.is-hidden {
  pointer-events: none;
  opacity: 0;
}